[project]
	description = Statusbar configuration for tmux that looks like vim-powerline and consist of dynamic segments.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Erik Westrup (erikw)
[access "refs/for/refs/*"]
	read = group user/Erik Westrup (erikw)
	push = group user/Erik Westrup (erikw)
	label-Code-Review = -2..+2 group user/Erik Westrup (erikw)
	label-Verified = -1..+1 group user/Erik Westrup (erikw)
	rebase = group user/Erik Westrup (erikw)
	removeReviewer = group user/Erik Westrup (erikw)
	submit = group user/Erik Westrup (erikw)
[access "refs/heads/*"]
	read = group user/Erik Westrup (erikw)
	create = group user/Erik Westrup (erikw)
	push = +force group user/Erik Westrup (erikw)
	pushMerge = group user/Erik Westrup (erikw)
[access "refs/tags/*"]
	push = +force group user/Erik Westrup (erikw)
	pushTag = group user/Erik Westrup (erikw)
	pushSignedTag = group user/Erik Westrup (erikw)
[submit]
	action = rebase if necessary
